<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>test</title>
  </head>
  <body>
    <main>
   <form enctype="multipart/form-data" action = "/result_text" method="POST">
          <div class="row">
            <div class="column left"></div>
            <div class="column middle">
              <p class= "insert"><input class= "insert" type="text" name="text_file" value=""></p>
              <p><input class = "submit" type="submit" name="submit" value="Upload"></p>
            </div>
            <div class="column right"></div>
          </form>
   </main>

  </body>
</html>
